﻿<head>
  <meta charset="UTF-8">
</head>
<h2>추가</h2>
<form method="POST" action="../community/add" enctype="multipart/form-data">
	<input type="text" name="NAME" placeholder="NAME"/>         <br/>
	<input type="file" name="file" placeholder="FILE"/>			<br />
	<input type="submit"/>
</form>

<h2>수정</h2>
<form method="POST" action="../community/edit" enctype="multipart/form-data">
	<input type="text" name="UUID" placeholder="UUID"/>         <br/>
	<input type="text" name="NAME" placeholder="NAME"/>         <br/>
	<input type="file" name="file" placeholder="FILE"/>			<br />
	<input type="submit"/>
</form>