﻿<head>
  <meta charset="UTF-8">
</head>
<form method="POST" action="../profile/set" enctype="multipart/form-data">
	<input type="text" name="UUID" placeholder="UUID"/>         <br/>
	<input type="text" name="NAME" placeholder="NAME"/>         <br/>
	<input type="text" name="INTRO" placeholder="INTRO"/>       <br/>
	<input type="file" name="file" placeholder="FILE"/>			<br />
	<input type="submit"/>
</form>