﻿<head>
  <meta charset="UTF-8">
</head>
<h2>글 쓰기</h2>
<form method="POST" action="../post/write" enctype="multipart/form-data">
	<input type="text" name="AUTHOR_UUID" placeholder="AUTHOR_UUID"/>         <br/>
	<input type="text" name="TITLE" placeholder="TITLE"/>         <br/>
	<input type="text" name="CONTENT" placeholder="CONTENT"/>         <br/>
	<input type="text" name="FEELING" placeholder="FEELING"/>         <br/>
	<input type="text" name="IS_SHARE" placeholder="1 OR 0"/>         <br/>
	<input type="file" name="file" placeholder="FILE"/>			<br />
	<input type="submit"/>
</form>

<h2>글 수정</h2>
<form method="POST" action="../post/edit" enctype="multipart/form-data">
	<input type="text" name="POST_UUID" placeholder="POST_UUID"/>         <br/>
	<input type="text" name="TITLE" placeholder="TITLE"/>         <br/>
	<input type="text" name="CONTENT" placeholder="CONTENT"/>         <br/>
	<input type="text" name="FEELING" placeholder="FEELING"/>         <br/>
	<input type="text" name="IS_SHARE" placeholder="1 OR 0"/>         <br/>
	<input type="file" name="file" placeholder="FILE"/>			<br />
	<input type="submit"/>
</form>